@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #424242;
  cursor: default;
}

#head-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

#footer-brand { 
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

main {
  min-height: 90vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* input[type=file]{
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

label[for=file]{
  width: 200px;
  height: 45px;
  background: #333333;
  color: white;
  padding: 10px;
  cursor: pointer;
}

label[for=file]:hover{
  background: #555555;
} */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}