@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #424242;
  cursor: default;
}

#head-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

#footer-brand { 
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

.alert {
  cursor: pointer;
}

main {
  min-height: 90vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
  justify-self: center;
}

.card-img-top {
  height: 228px;
  object-fit: cover;
}

.timePicker {
  width: 90px;
  height: 38px;
}

.rc-time-picker-input {
  height: 38px !important;
  font-size: 14px !important;
}
